/* Nav Button Styles */

.nav-icon {
  font-size: 50px;
}

.active{
  color:rgb(255, 62, 50);
}

.inactive {
  color: rgb(44, 44, 44);
}

.active:hover {
  color: rgb(255, 62, 50, 0.9);
  cursor: pointer;
  transform: scale(1.05);
}


/* Mobile adjustments */

@media only screen and (max-width: 767px) {
  .nav-icon {
    font-size: 30px;
  }
}
