/* Styles for PokemonDetail component */

.display {
  margin: 40px auto;
  max-width: 1200px;
  width: 100%;
}

/* POKEMON DETAIL VIEW */

.pokemon-detail-img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 200px;
  width: 100%;
}

.pokemon-detail-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 15px auto 0;
  max-width: 600px;
  width: 100%;
}

.pokemon-detail-content-text {
  background-color: rgb(255, 203, 5);
  border: 1px solid #2a75bb;
  border-radius: 10px;
  color: #3c5aa6;
  margin: 0 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
}


.pokemon-detail-content-text-item {
  margin-top:5px;
}

.pokemon-detail-content-text-number{
  
}





/* Evolution Chain */

.evolution-chain {
  width: 100%;
}

.evolution-chain-headline {
  
  margin-top:10px;
}

.evolution-chain-list {
  margin: 10px auto 0;
  width: 90%;

  display: flex;
  justify-content: space-around;
}

.evolution-chain-item {
  display: inline-block;
}
