/* Styles for PokemonDetail component */

.display {
  margin: auto;
  min-height: 970px;
  width: 100%;
  font-size: 16px;
}

.display-container {
  margin: 0 auto;
  max-width: 1440px;
}

.pokemon-type-headline {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  width: 100%;
}


/* POKEMON DETAIL MODAL */
.modal-overlay {
  background-color: rgb(44, 44, 44, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-container {
  font-family: "Tomorrow", sans-serif;
  color: rgb(44, 44, 44);
  border: 1px solid transparent;
  border-radius: 5px;
  background: #fff;
  min-height: 500px;
  overflow: auto;
  outline: none;
  padding: 20px;
  width: 50%;
  /* webkit-overflow-scrolling: touch; */
}

/* POKEMON DETAIL CONTENT */

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.close-modal-button {
  color: rgb(255, 62, 50);
  font-size: 30px;
  text-align: right;
  width: 100%;
}

.close-modal-button:hover {
  color: rgb(255, 62, 50, 0.7);
  cursor: pointer;
}

.pokemon-detail-img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 200px;
  width: 100%;
}

.pokemon-detail-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.pokemon-detail-content {
  width: 66%;
}

.pokemon-detail-content-text {
  text-align: center;
}

.pokemon-detail-content-text-item {
  margin-top: 5px;
}

.pokemon-detail-content-text-number,
.pokemon-detail-content-text-name {
  font-size: 1.875em;
}

.pokemon-detail-content-type-list {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 90%;
}

.pokemon-detail-content-type-list-item {
  display: inline-block;
}

.pokemon-detail-content-type-list-item:hover {
  color: rgb(42, 117, 187);
  cursor: pointer;
  transform: scale(1.05);
}


.flavor-text {
  font-weight: 300;
}

.pokemon-list-by-type-heading {
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

/* Search Error page */

.search-error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 50%;
  margin: 100px auto 0;
}

.search-error-headline {
  text-align: center;
}

.search-error-image {
  display:block;
  max-width: 300px;
  margin: 30px auto;
}

.search-error-explanation {
  font-weight:300;
  line-height: 1.5;
  text-align: center;
}

.search-error-return-home {
  margin-top: 20px;
  color: rgb(255, 62, 50);
}

.search-error-return-home:hover {
  cursor: pointer;
  color: rgb(255, 62, 50, 0.8);
  transform: scale(1.05);
}


/* Tablet Adjustments */

@media only screen and (max-width: 800px){

  .modal-content-container {
    width:75%;
  }

  .display {
    font-size: 12px;
  }




}


/* Mobile adjustments */
@media only screen and (max-width: 768px){

  .pokemon-type-headline {
    font-size: 36px;
  }

  .pokemon-detail-content-container {
    width: 100%;
  }

  .pokemon-detail-content {
    width: 75%;
  }
  
  .flavor-text {
    font-weight: 300;
    font-size: 16px;
    width: 100%;
  }

  .modal-content-container {
    width: 90%;
  }

  .search-error {
    width: 80%;
  }


}
