/* Footer styles */

.footer {
  background-color: rgb(255, 62, 50);
  border-top: 1px solid rgb(44, 44, 44);
  color: white;
}

.footer-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0px 30px 0px;
}

.footer-img-container {
  width: 30%;
}

.footer-img {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}

.growlithe-footer-img {
  max-width: 200px;
}

.squirtle-footer-img {
  max-width: 150px;
}

.footer-msg {
  font-size: 24px;
  text-align: center;
  width: 33%;
}

.copyright-text {
  font-size: 20px;
  margin: 20px auto 0;
  text-align: center;
  width: 100%;
}

/* Mobile style adjustments*/
@media only screen and (max-width: 768px) {
  .footer-msg {
    font-size: 20px;
  }

  .copyright-text {
    font-size: 16px;
  }
}
